Repository aiidateam/aiida-optimade: changes, and which pre-commit hooks are due for each by the changed paths.
All: codecov-validator, pylint, pylint-tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: check-yaml
    name: Check YAML
  - id: check-json
    name: Check JSON
  - id: end-of-file-fixer

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.2
  hooks:
  - id: yamlfmt
    args:
    - --mapping=2
    - --sequence=2
    - --offset=0
    exclude: ^.github/dependabot.yml$

- repo: https://github.com/timothycrosley/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: [--profile, black, --filter-files, --skip-gitignore]

- repo: https://github.com/ambv/black
  rev: 22.10.0
  hooks:
  - id: black

- repo: local
  hooks:
  - id: codecov-validator
    name: Validate .codecov.yml
    description: Validate .codecov.yml using codecov's online validation tool.
    entry: ./.ci/codecov-validator.sh
    files: >
      (?x)^(
        .codecov.yml
      )$
    language: system
  - id: pylint
    name: pylint
    entry: pylint
    args:
    - --rcfile=pyproject.toml
    - --extension-pkg-whitelist='pydantic'
    language: python
    types: [python]
    require_serial: true
    files: ^.*$
    exclude: ^tests/.*$
  - id: pylint-tests
    name: pylint - tests
    entry: pylint
    args:
    - --rcfile=pyproject.toml
    - --extension-pkg-whitelist='pydantic'
    - --disable=import-outside-toplevel,redefined-outer-name
    language: python
    types: [python]
    require_serial: true
    files: ^tests/.*$

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Update dependencies (#405)
  .ci/aiida-version.json
  .pre-commit-config.yaml
  Dockerfile
  profiles/docker-compose-mongo.j2
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.j2
  profiles/docker-compose.yml
  requirements.txt
Due: none

Update AiiDA/OPTIMADE
  .ci/aiida-version.json
  Dockerfile
  profiles/docker-compose-mongo.j2
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.j2
  profiles/docker-compose.yml
Due: none

Update AiiDA/OPTIMADE
  Dockerfile
  README.md
  profiles/docker-compose-mongo.j2
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.j2
  profiles/docker-compose.yml
Due: none

Use remote_client fixture for error response
  .gitignore
  tests/server/conftest.py
  tests/server/utils.py
Due: pylint-tests

Remove direct dependencies that come with `optimade`
  requirements.txt
Due: none

Add httpx dependency to `dev` extra
  requirements_dev.txt
Due: none

Move httpx dependency to `testing` extra
  requirements_dev.txt
  requirements_testing.txt
Due: none

Update to httpx TestClient interface
  tests/server/conftest.py
  tests/server/test_middleware.py
  tests/server/utils.py
Due: pylint-tests

Use urlparse for middleware test
  tests/server/test_middleware.py
Due: pylint-tests

Use `server` extra for optimade instead of `mongo`
  .github/workflows/ci_automerge_dependabot.yml
  tasks.py
Due: pylint

Customize YAML formatter
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_updated_default_branch.yml
  .pre-commit-config.yaml
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.yml
Due: codecov-validator

Customize YAML formatter (#419)
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_updated_default_branch.yml
  .pre-commit-config.yaml
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.yml
Due: codecov-validator

Update dependencies (#410)
  .ci/aiida-version.json
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  profiles/docker-compose-mongo.j2
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.j2
  profiles/docker-compose.yml
  requirements.txt
  requirements_dev.txt
  requirements_testing.txt
  tests/server/conftest.py
  tests/server/test_middleware.py
  tests/server/utils.py
Due: pylint-tests

Run pylint & safety in CI
  .github/workflows/ci_tests.yml
Due: none

Ignore safety errors for mpmath & SQLALchemy
  .github/workflows/ci_tests.yml
Due: none

Reintroduce MANIFEST.in
  MANIFEST.in
Due: none

Re-remove MANIFEST.in - update pyproject instead
  MANIFEST.in
  pyproject.toml
Due: none

Updates trying to fix tests
  aiida_optimade/cli/cmd_calc.py
  aiida_optimade/cli/cmd_init.py
  aiida_optimade/cli/cmd_run.py
  aiida_optimade/main.py
  aiida_optimade/routers/utils.py
  aiida_optimade/translators/cifs.py
  aiida_optimade/translators/entities.py
  tests/cli/conftest.py
  tests/cli/test_calc.py
  tests/cli/test_run.py
  tests/conftest.py
  tests/server/query_params/test_filter.py
  tests/server/query_params/test_page_limit.py
  tests/server/query_params/test_page_offset.py
  tests/server/query_params/test_response_fields.py
  tests/server/query_params/test_sort.py
  tests/server/routers/test_info.py
  tests/server/routers/test_links.py
  tests/server/routers/test_response.py
  tests/server/routers/test_structures.py
  tests/server/routers/test_versions.py
  tests/server/test_entry_collections.py
  tests/server/test_middleware.py
  tests/server/test_optimade_validation.py
  tests/server/test_server_misc.py
  tests/server/utils.py
  tests/transformers/test_aiida.py
Due: pylint, pylint-tests

Update dependencies (#421)
  requirements.txt
Due: none

README.md typo
  README.md
Due: none

Use latest Python 3.7 compliant pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
  aiida_optimade/config.py
  aiida_optimade/translators/cifs.py
Due: pylint

Update dependencies (#423)
  .pre-commit-config.yaml
  aiida_optimade/config.py
  aiida_optimade/translators/cifs.py
  requirements_dev.txt
Due: pylint

Fix references to optimade dependency
  .github/workflows/ci_automerge_dependabot.yml
  tasks.py
Due: pylint

Fix references to optimade dependency (#429)
  .github/workflows/ci_automerge_dependabot.yml
  tasks.py
Due: pylint

Update dependencies (#428)
  .ci/aiida-version.json
  Dockerfile
  profiles/docker-compose-mongo.j2
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.j2
  profiles/docker-compose.yml
  requirements.txt
  requirements_dev.txt
Due: none

Update dependencies (#433)
  requirements.txt
  requirements_dev.txt
Due: none

Update dependencies (#436)
  requirements.txt
Due: none

Update dependencies (#439)
  requirements.txt
  requirements_dev.txt
Due: none

Try accounting for `results=None`
  aiida_optimade/routers/utils.py
Due: pylint

Further accommodate results=None case
  aiida_optimade/routers/utils.py
Due: pylint

Handle case with no results for multi-endpoint
  aiida_optimade/routers/utils.py
Due: pylint

Update dependencies (#442)
  Dockerfile
  README.md
  aiida_optimade/routers/utils.py
  profiles/docker-compose-mongo.j2
  profiles/docker-compose-mongo.yml
  profiles/docker-compose.j2
  profiles/docker-compose.yml
  requirements.txt
  requirements_dev.txt
Due: pylint
